form{
	overflow: hidden;
}

#calendar {
    max-width: 1024px!important;
    margin: 0 auto;
}

.form-group {
margin-top: 20px;
}

#nomeC, #crM, #emaiL, #ceP, #enderecO, #numerO,
#cidadE, #uF, #cpF, #telefonE {
    color: red;
    font-size: 1rem;
    font-family: verdana;
}

.erro:focus {
    border: 1px solid #ff0000f2!important;
    box-shadow: 0px 0px 5px 0px #ff0000f2!important;
    outline: 0!important;
}

#wrapper {
	background: #242a34;
}

#side-menu li a {
	color: white;
}

#side-menu li a:hover{
	background: #7ccce3;
}
#side-menu li a:focus{
	background: #7ccce3;
}

.sidebar ul li a.active {
    background-color: #7ccce3;
}

.form-group input {
    width: 100%;
    background: #eaeaea;
    height: 50px!important;
    border: none;
    font-weight: 600;
    padding: 0 20px;
}

.form-group textarea, select {
    width: 100%!important;
    background: #eaeaea!important;
    border: none!important;
    font-weight: 600!important;
    padding: 0 20px!important;
}

.panel-heading {
    display: none;
}

 .panel {
    background: transparent;
}

.panel-default {
    border: none;
}

.botao-login {
    background: #06bebd;
    border-radius: 50px;
    padding: 20px;
    color: white;
}
.botao-login:hover {
    color: white;
}
.campo-login {
    text-align: center;
}