.col-md-2 {
	background: red;
	height: 500px;

}

.col-md-10{
	background: skyblue;
	height: 500px;
}

.col-md-12{
	background: black;
	height: 100px;
}

.container {
	background: yellow;
	height: 50px;
}

/*
.container-cadastro-medico{
	padding: 10% 30% 0 0;
    box-sizing: border-box;
    margin-top: 50px;
}