.header {
    border-bottom: 2px solid #d2d2d2;
}

.icones {
    margin-top: 5%;
}
.opcoesDashboard {
    background: whitesmoke;
    text-align: center;
    padding: 1rem;
    margin: 30px 0;
}

.opcoesDashboard a {
    display: block;
    text-decoration: none;
    color: grey;
}

.opcoesDashboard .iconeAreas {
    background: #59bdb1;
    color: white;
    border-radius: 50px;
    padding: 10px;
    font-size: 1.5rem;
    line-height: 1.3;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.barraTitlePage {
    background-color: #424242;
    color: white;
    padding: 10px 0;
    margin-bottom: 50px;
}

.barraTitlePage h1{
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

.barraTitlePage p{
    margin-bottom: 0;
    position: relative;
    top: 5px;
    font-size: .9rem;
    text-align: right;
}

.areaBuscaProdutos {
    padding: 20px 0;
    text-align: center;
    margin-bottom: 30px;
}

.itemProduto{
    text-align: center;
}

.itemProduto img{
    width: 100%;
    padding:10px;
}


.btn-primary, .btn-success {
    font-size: .8rem;
    padding: 3px 5px;
}

.botaoBuscaProdutos {
    background-color: #56bcb1;
    width: 200px;
    color: white;
    border-radius: 50px;
    margin-left: 30px;
}

/******************************************************************/
/* CONSULTAS */

.consulta{
    margin-bottom: 50px;
}
.consulta2 {
   margin-bottom: 50px;
   margin-top: 50px; 
}

.divisao {
    width: 100%; 
    border: 3px solid black;
    box-sizing: border-box;
}

.consultaDoDia {
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    padding: 20px;
}
.consultaHorario, .consultaPaciente {
    margin-bottom: 5px; 
}

.nomePaciente {
    color: #42434a;
    width: 100%;
    text-align: center;
}
.tituloSeccao{
    width: 100%; 
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: #bbbbbb;   
    padding: 5px;
    margin: 30px 0;
}
.dadosPessoais p {
    margin-bottom: 5px; 
}

.areaBotaoAnotacao {
    text-align: right;
}
.botoesDefault {
    border-radius: 20px;
    width: 100%;
    max-width: 200px;
    height: 40px;
    font-size: 1.1rem;
    background: #06bebe;
    border: 1px solid #06bebe;
    color: white;
    margin: 20px 0;
}
.botoesDefault:hover {
    color: white;
}

.outrasOpcoes .anotacoes {
    background: #72716f!important;
    border: 1px solid #72716f!important;
}

.enfermidade {
    width: 100%;
    background: #eaeaea;
    height: 50px!important;
    border: none;
    color: #878788;
    font-weight: 600;
    padding: 0 20px;
}

.descricao {
    padding: 20px;
    margin: 30px 0;
    background: #eaeaea;
}
.descricao label{
    background: #eaeaea;
    display: block;
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
    font-weight: 600;
    color: #878788;
    padding-top: 0px;
}

.descricao textarea {
    min-height: 200px;
    color: #999a9a!important;
}

.botaoSalvar {
    text-align: center;
}

.outrasOpcoes {
    text-align: center;
    margin-top: 50px;
}

.outrasOpcoes .botoesDefault {
    margin: 10px 20px;
}

.consultaProdutos {
    margin-bottom: 50px;
}

input, textarea, select {
    outline: 0;
}
.input{
    width: 100%;
    background: #eaeaea;
    height: 50px!important;
    border: none;
    color: red;
    font-weight: 600;
    padding: 0 20px;
    text-align: center;
}

.itemPosologia {
   padding: 20px 0;
   margin: 20px 0;
   background: #f7f7f7;
}

.headerAgendaRight h4 {
    text-align: center;
}