.container-fluid {
	background: #232a34;
	height: 50px;
}

.sectionBox {
	background: #232a34;
}

.box-selecao {
	position: relative;
	top: 150px;
}

.card1,
.card2  {
	max-width: 300px;
	height: 300px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;

	border-radius: 5px;
}
.card1 { background: #6f6f6d; }
.card2 { background: #6f6f6d; } 

.card1 a,
.card2 a
{
	text-decoration: none;
	display: block;
	height: 100%;
}

.card1 h2,
.card2 h2
{
	color: white;
	text-align: center;
	vertical-align: middle;
	position: relative;
    top: 30%;
}

.card1:hover,
.card2:hover
{
	background: #59bdb1;
}





