form{
	overflow: hidden;
}

#calendar {
    max-width: 1024px!important;
    margin: 0 auto;
}

.form-group {
margin-top: 20px;
}

#nomeC, #crM, #emaiL, #ceP, #enderecO, #numerO,
#cidadE, #uF, #cpF, #telefonE {
    color: red;
    font-size: 1rem;
    font-family: verdana;
}

.erro:focus {
    border: 1px solid #ff0000f2!important;
    box-shadow: 0px 0px 5px 0px #ff0000f2!important;
    outline: 0!important;
}