.icones {
    margin-top: 5%;
}
.opcoesDashboard {
    background: whitesmoke;
    text-align: center;
    padding: 1rem;
    margin: 30px 0;
}

.opcoesDashboard a {
    display: block;
    text-decoration: none;
    color: grey;
}

.opcoesDashboard .iconeProduto {
    background: #59bdb1;
    color: white;
    border-radius: 50px;
    padding: 10px;
    font-size: 2rem; 
}

